<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <error-page>
        <error-code>404</error-code>
        <location>/ODA-INF/ErrorPages/NotFound.jsp</location>
    </error-page>
    <error-page>
        <error-code>500</error-code>
        <location>/ODA-INF/ErrorPages/Unavailable.jsp</location>
    </error-page>    
    <servlet>
        <servlet-name>Index</servlet-name>
        <servlet-class>Index</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Restaurant</servlet-name>
        <servlet-class>Restaurant</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Gestion</servlet-name>
        <servlet-class>Gestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Connect</servlet-name>
        <servlet-class>Connect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Disconnect</servlet-name>
        <servlet-class>Disconnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Compte</servlet-name>
        <servlet-class>Compte</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Index</servlet-name>
        <url-pattern/>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Restaurant</servlet-name>
        <url-pattern>/Restaurant</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Gestion</servlet-name>
        <url-pattern>/Gestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Connect</servlet-name>
        <url-pattern>/Connect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Disconnect</servlet-name>
        <url-pattern>/Disconnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Compte</servlet-name>
        <url-pattern>/Compte</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
